

<section class="splash-page container-fluid d-flex flex-column align-items-center ">

<div class=" splash-text text-center">
<h1 class="m-auto"> Expenses tracker <h1>
</div>

    <div class= "splash-actions">
        
<div class=" login text-center py-1 my-2">
            <%= link_to 'Log in', user_session_path, class: ' btn' %>
        </div>

        <div class="text-center py-1 my-2">
        <%= link_to 'Sign up', new_user_registration_path, class: 'text-center btn'%>
        </div>
    </div>

</section>