/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav,
.category_nav {
  background: #5582bd;
  color: white;
}

.order {
  width: 100%;
}

body {
  background: #f0f0f0;
  width: 100%;
  height: 100vh;
}

button {
  background-color: #0d1117;
}

a {
  text-decoration: none;
}

.login {
  background: #5582bd;
}

.login-links {
  text-decoration: none;
}

.add-category {
  background-color: #60b625;
  border: none;
  position: absolute;
  width: 100%;
  bottom: 4px;
}

.add-category a {
  text-decoration: none;
  border: solid;
  color: white;
}

.categories {
  list-style: none;
}

.addbtn {
  border: solid;
}

.splash-page {
  height: 100vh;
}

.splash-actions {
  position: absolute;
  width: 100%;
  bottom: 4px;
}

.splash-text {
  position: relative;
  top: 40%;
}

.title {
  position: absolute;
  right: 2%;
  top: 0;
}
