<nav class="navbar navbar-expand-md text-light navbar-light">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-light"><i class="fa-solid fa-bars"></i></span>
    </button>
     <a class="navbar-brand text-light" href="#">Expenses Tracker</a>

     <span class="text"> <i class="fa-sharp fa-solid fa-magnifying-glass"></i></span>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Transactions</a>
        </li>
      </ul>
    </div>
  </div>

 <ul class="d-flex order flex-row-reverse bd-highlight">
  <li class="p-1 mx-2  bd-highlight ">Most recent</li>
  <li class="p-1 mx-3 bd-highlight">Most ancient</li>

</ul>
</nav>